In [ ]:
!pip install gensim==4.1.2

Requirement already satisfied: gensim==4.1.2 in /usr/local/lib/python3.7/dist-packages (4.1.2)
Requirement already satisfied: numpy>=1.17.0 in /usr/local/lib/python3.7/dist-packages (from gensim==4.1.2) (1.19.5)
Requirement already satisfied: scipy>=0.18.1 in /usr/local/lib/python3.7/dist-packages (from gensim==4.1.2) (1.4.1)
Requirement already satisfied: smart-open>=1.8.1 in /usr/local/lib/python3.7/dist-packages (from gensim==4.1.2) (5.2.1)

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [ ]:
!unzip /content/drive/MyDrive/data.zip

Archive:  /content/drive/MyDrive/data.zip
replace data/testing_corpus.csv? [y]es, [n]o, [A]ll, [N]one, [r]ename: n
replace data/testing_queries.csv? [y]es, [n]o, [A]ll, [N]one, [r]ename: n
replace data/testing_result.csv? [y]es, [n]o, [A]ll, [N]one, [r]ename: n
replace data/training_corpus.csv? [y]es, [n]o, [A]ll, [N]one, [r]ename: n
replace data/training_queries.csv? [y]es, [n]o, [A]ll, [N]one, [r]ename: n
replace data/training_result.csv? [y]es, [n]o, [A]ll, [N]one, [r]ename: n

In [ ]:
import pandas as pd
import numpy as np
import spacy

In [ ]:
import spacy
nlp = spacy.load('en_core_web_sm',disable=['ner','parser'])
nlp.max_length=5000000

In [ ]:
cd data

/content/data

In [ ]:
training_corpus=pd.read_csv("training_corpus.csv")

In [ ]:
testing_corpus=pd.read_csv("testing_corpus.csv")

In [ ]:
training_queries=pd.read_csv("training_queries.csv")

In [ ]:
testing_queries=pd.read_csv("testing_queries.csv")

In [ ]:
training_queries.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   qid     1000 non-null   int64
 1   query   1000 non-null   object
dtypes: int64(1), object(1)
memory usage: 15.8+ KB

In [ ]:
testing_queries.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   qid     1000 non-null   int64
 1   query   1000 non-null   object
dtypes: int64(1), object(1)
memory usage: 15.8+ KB

In [ ]:
import re

# Lowercasing the text
training_corpus['cleaned']=training_corpus['body'].apply(lambda x:x.lower())
testing_corpus['cleaned']=testing_corpus['body'].apply(lambda x:x.lower())

# Dictionary of english Contractions
contractions_dict = { "ain't": "are not","'s":" is","aren't": "are not","can't": "can not","can't've": "cannot have",
"'cause": "because","could've": "could have","couldn't": "could not","couldn't've": "could not have",
"didn't": "did not","doesn't": "does not","don't": "do not","hadn't": "had not","hadn't've": "had not have",
"hasn't": "has not","haven't": "have not","he'd": "he would","he'd've": "he would have","he'll": "he will",
"he'll've": "he will have","how'd": "how did","how'd'y": "how do you","how'll": "how will","i'd": "i would",
"i'd've": "i would have","i'll": "i will","i'll've": "i will have","i'm": "i am","i've": "i have",
"isn't": "is not","it'd": "it would","it'd've": "it would have","it'll": "it will","it'll've": "it will have",
"let's": "let us","ma'am": "madam","mayn't": "may not","might've": "might have","mightn't": "might not",
"mightn't've": "might not have","must've": "must have","mustn't": "must not","mustn't've": "must not have",
"needn't": "need not","needn't've": "need not have","o'clock": "of the clock","oughtn't": "ought not",
"oughtn't've": "ought not have","shan't": "shall not","sha'n't": "shall not",
"shan't've": "shall not have","she'd": "she would","she'd've": "she would have","she'll": "she will",
"she'll've": "she will have","should've": "should have","shouldn't": "should not",
"shouldn't've": "should not have","so've": "so have","that'd": "that would","that'd've": "that would have",
"there'd": "there would","there'd've": "there would have",
"they'd": "they would","they'd've": "they would have","they'll": "they will","they'll've": "they will have",
"they're": "they are","they've": "they have","to've": "to have","wasn't": "was not","we'd": "we would",
"we'd've": "we would have","we'll": "we will","we'll've": "we will have","we're": "we are","we've": "we have",
"weren't": "were not","what'll": "what will","what'll've": "what will have","what're": "what are",
"what've": "what have","when've": "when have","where'd": "where did",
"where've": "where have","who'll": "who will","who'll've": "who will have","who've": "who have",
"why've": "why have","will've": "will have","won't": "will not","won't've": "will not have",
"would've": "would have","wouldn't": "would not","wouldn't've": "would not have","y'all": "you all",
"y'all'd": "you all would","y'all'd've": "you all would have","y'all're": "you all are","y'all've": "you all have",
"you'd": "you would","you'd've": "you would have","you'll": "you will","you'll've": "you will have",
"you're": "you are","you've": "you have"}

# Regular expression for finding contractions
contractions_re=re.compile('(%s)' % '|'.join(contractions_dict.keys()))

# Function for expanding contractions
def expand_contractions(text,contractions_dict=contractions_dict):
    def replace(match):
        return contractions_dict[match.group(0)]
    return contractions_re.sub(replace, text)

In [ ]:
def clean_text(text):
    text=re.sub('\w*\d\w*','', text)
    text=re.sub('\n',' ',text)
    text=re.sub(r"http\S+", "", text)
    text=re.sub('[^a-z]',' ',text)
    return text

In [ ]:
# Lowercasing the text
training_queries['cleaned']=training_queries['query'].apply(lambda x:x.lower())
testing_queries['cleaned']=testing_queries['query'].apply(lambda x:x.lower())

# Expanding contractions
training_queries['cleaned']=training_queries['cleaned'].apply(lambda x:expand_contractions(x))
testing_queries['cleaned']=testing_queries['cleaned'].apply(lambda x:expand_contractions(x))

# Cleaning queries using RegEx
training_queries['cleaned']=training_queries['cleaned'].apply(lambda x: clean_text(x))
testing_queries['cleaned']=testing_queries['cleaned'].apply(lambda x: clean_text(x))

# Removing extra spaces
training_queries['cleaned']=training_queries['cleaned'].apply(lambda x: re.sub(' +',' ',x))
testing_queries['cleaned']=testing_queries['cleaned'].apply(lambda x: re.sub(' +',' ',x))

In [ ]:
# Combining corpus and queries for training
combined_training=pd.concat([training_corpus.rename(columns={'lemmatized':'text'})['text'],training_queries.rename(columns={'cleaned':'text'})['text']]).sample(frac=1).reset_index(drop=True)

In [ ]:
embeddings_index = dict()

with open('/content/drive/MyDrive/glove.6B.100d.txt') as file:
    for line in file:
        values = line.split()
        word = values[0]
        coefs = np.asarray(values[1:], dtype='float32')
        embeddings_index[word] = coefs

In [ ]:
# Function returning vector reperesentation of a document
def get_embedding_g2v(doc_tokens):
    embeddings = []
    if len(doc_tokens)<1:
        return np.zeros(100)
    else:
        for tok in doc_tokens:
            embedding_vector = embeddings_index.get(tok)
            if embedding_vector is not None:
                embeddings.append(embedding_vector)
            else:
                embeddings.append(np.random.rand(100))
        # mean the vectors of individual words to get the vector of the document
        return np.mean(embeddings, axis=0)

# Getting Word2Vec Vectors for Testing Corpus and Queries
testing_corpus['vector']=testing_corpus['lemmatized'].apply(lambda x :get_embedding_g2v(x.split()))
testing_queries['vector']=testing_queries['cleaned'].apply(lambda x :get_embedding_g2v(x.split()))

In [ ]:
testing_result=pd.read_csv("testing_result.csv")
training_result=pd.read_csv("training_result.csv")

In [ ]:
from sklearn.metrics.pairwise import cosine_similarity
from sklearn.metrics.pairwise import euclidean_distances
# Function for calculating average precision for a query
def average_precision(qid,qvector):

  # Getting the ground truth and document vectors
  qresult=testing_result.loc[testing_result['qid']==qid,['docid','rel']]
  qcorpus=testing_corpus.loc[testing_corpus['docid'].isin(qresult['docid']),['docid','vector']]
  qresult=pd.merge(qresult,qcorpus,on='docid')

  # Ranking documents for the query
  qresult['similarity']=qresult['vector'].apply(lambda x: cosine_similarity(np.array(qvector).reshape(1, -1),np.array(x).reshape(1, -1)).item())
  qresult['euclidean_distances']=qresult['vector'].apply(lambda x: euclidean_distances(np.array(qvector).reshape(1, -1),np.array(x).reshape(1, -1)).item())

  qresult.sort_values(by='similarity',ascending=False,inplace=True)

  # Taking Top 10 documents for the evaluation
  ranking=qresult.head(10)['rel'].values

  # Calculating precision
  precision=[]
  for i in range(1,11):
    if ranking[i-1]:
      precision.append(np.sum(ranking[:i])/i)

  # If no relevant document in list then return 0
  if precision==[]:
    return 0

  return np.mean(precision)

# Calculating average precision for all queries in the test set
testing_queries['AP']=testing_queries.apply(lambda x: average_precision(x['qid'],x['vector']),axis=1)

# Finding Mean Average Precision
print('Mean Average Precision=>',testing_queries['AP'].mean())

Mean Average Precision=> 0.7768098080435887

In [ ]:
def ranking_ir(query):

  # pre-process Query
  query=query.lower()
  query=expand_contractions(query)
  query=clean_text(query)
  query=re.sub(' +',' ',query)

  # generating vector
  vector=get_embedding_g2v(query.split())
  #vector = pca.transform(d)
  # ranking documents
  documents=testing_corpus[['docid','title','body']].copy()
  documents['similarity']=testing_corpus['vector'].apply(lambda x: cosine_similarity(np.array(vector).reshape(1, -1),np.array(x).reshape(1, -1)).item())
  documents['euclidean_distances']=testing_corpus['vector'].apply(lambda x: euclidean_distances(np.array(vector).reshape(1, -1),np.array(x).reshape(1, -1)).item())

  documents.sort_values(by='similarity',ascending=False,inplace=True)

  return documents.head(10).reset_index(drop=True)

In [ ]:
ranking_ir('michael jordan')

      docid  ... euclidean_distances
0  D2962495  ...            2.474828
1  D3140874  ...            2.776822
2  D1656700  ...            2.825389
3  D2218024  ...            2.842561
4  D2785629  ...            2.929255
5  D1900195  ...            2.999317
6   D279972  ...            3.306644
7  D2602929  ...            3.196794
8  D3492208  ...            3.051150
9  D2174689  ...            3.086755

[10 rows x 5 columns]

In [ ]:
ranking_ir('nba championship michael jordan')

      docid  ... euclidean_distances
0  D2796474  ...            1.672204
1   D842657  ...            1.742095
2  D3492208  ...            1.848452
3  D1656700  ...            2.096868
4  D2218024  ...            2.090351
5  D2785629  ...            2.104665
6  D2892646  ...            2.199526
7  D2688388  ...            2.127351
8  D1900195  ...            2.224483
9  D2962495  ...            2.308263

[10 rows x 5 columns]

In [ ]:
# Function returning vector reperesentation of a document
def get_embedding_g2v(doc_tokens):
    embeddings = []
    if len(doc_tokens)<1:
        return np.zeros(100)
    else:
        for tok in doc_tokens:
            embedding_vector = embeddings_index.get(tok)
            if embedding_vector is not None:
                embeddings.append(embedding_vector)
            else:
                embeddings.append(np.random.rand(100))
        # mean the vectors of individual words to get the vector of the document
        return np.mean(embeddings, axis=0)

# Getting Word2Vec Vectors for Testing Corpus and Queries
testing_corpus['vector']=testing_corpus['lemmatized'].apply(lambda x :get_embedding_g2v(x.split()))
testing_queries['vector']=testing_queries['cleaned'].apply(lambda x :get_embedding_g2v(x.split()))

In [ ]:
a = np.zeros((testing_corpus['vector'].shape[0],testing_corpus['vector'][0].shape[0]))
for i in range(len(testing_corpus['vector'])):
    a[i,:] = testing_corpus['vector'][i]

b = np.zeros((testing_queries['vector'].shape[0],testing_queries['vector'][0].shape[0]))
for i in range(len(testing_queries['vector'])):
    b[i,:] = testing_queries['vector'][i]

from sklearn.decomposition import PCA
from sklearn.decomposition import FactorAnalysis

pca1 = PCA(n_components=100)
aa = pca1.fit_transform(a)
#pca1 = PCA(n_components = 300)
bb = pca1.transform(b)

pca = FactorAnalysis(n_components=90)
testing_corpus1 = pca.fit_transform(aa)
#pca1 = PCA(n_components = 300)
testing_queries1 = pca.transform(bb)

In [ ]:
for i in range(len(testing_corpus['vector'])):
     testing_corpus['vector'][i]=testing_corpus1[i]
for i in range(len(testing_queries['vector'])):
     testing_queries['vector'][i]=testing_queries1[i]

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.

In [ ]:
from sklearn.metrics.pairwise import cosine_similarity
from sklearn.metrics.pairwise import euclidean_distances
# Function for calculating average precision for a query
def average_precision(qid,qvector):

  # Getting the ground truth and document vectors
  qresult=testing_result.loc[testing_result['qid']==qid,['docid','rel']]
  qcorpus=testing_corpus.loc[testing_corpus['docid'].isin(qresult['docid']),['docid','vector']]
  qresult=pd.merge(qresult,qcorpus,on='docid')

  # Ranking documents for the query
  qresult['similarity']=qresult['vector'].apply(lambda x: cosine_similarity(np.array(qvector).reshape(1, -1),np.array(x).reshape(1, -1)).item())
  qresult['euclidean_distances']=qresult['vector'].apply(lambda x: euclidean_distances(np.array(qvector).reshape(1, -1),np.array(x).reshape(1, -1)).item())

  qresult.sort_values(by='similarity',ascending=False,inplace=True)

  # Taking Top 10 documents for the evaluation
  ranking=qresult.head(10)['rel'].values

  # Calculating precision
  precision=[]
  for i in range(1,11):
    if ranking[i-1]:
      precision.append(np.sum(ranking[:i])/i)

  # If no relevant document in list then return 0
  if precision==[]:
    return 0

  return np.mean(precision)

# Calculating average precision for all queries in the test set
testing_queries['AP']=testing_queries.apply(lambda x: average_precision(x['qid'],x['vector']),axis=1)

# Finding Mean Average Precision
print('Mean Average Precision=>',testing_queries['AP'].mean())

Mean Average Precision=> 1.0

In [ ]:
def ranking_ir(query):

  # pre-process Query
  query=query.lower()
  query=expand_contractions(query)
  query=clean_text(query)
  query=re.sub(' +',' ',query)

  # generating vector
  d=get_embedding_g2v(query.split()).reshape(1, -1)
  d=pca1.transform(d)
  vector = pca.transform(d)
  # ranking documents
  documents=testing_corpus[['docid','title','body']].copy()
  documents['similarity']=testing_corpus['vector'].apply(lambda x: cosine_similarity(np.array(vector).reshape(1, -1),np.array(x).reshape(1, -1)).item())
  documents['euclidean_distances']=testing_corpus['vector'].apply(lambda x: euclidean_distances(np.array(vector).reshape(1, -1),np.array(x).reshape(1, -1)).item())

  documents.sort_values(by='similarity',ascending=False,inplace=True)

  return documents.head(10).reset_index(drop=True)

In [ ]:
ranking_ir('michael jordan')

      docid  ... euclidean_distances
0  D1911483  ...                 0.0
1   D660994  ...                 0.0
2   D872248  ...                 0.0
3   D600451  ...                 0.0
4  D3390302  ...                 0.0
5  D1347981  ...                 0.0
6   D221492  ...                 0.0
7  D2194914  ...                 0.0
8   D408219  ...                 0.0
9  D1156818  ...                 0.0

[10 rows x 5 columns]

In [ ]:
ranking_ir('nba championship michael jordan')

      docid  ... euclidean_distances
0  D1911483  ...                 0.0
1   D660994  ...                 0.0
2   D872248  ...                 0.0
3   D600451  ...                 0.0
4  D3390302  ...                 0.0
5  D1347981  ...                 0.0
6   D221492  ...                 0.0
7  D2194914  ...                 0.0
8   D408219  ...                 0.0
9  D1156818  ...                 0.0

[10 rows x 5 columns]

In [ ]:
# Function returning vector reperesentation of a document
def get_embedding_g2v(doc_tokens):
    embeddings = []
    if len(doc_tokens)<1:
        return np.zeros(100)
    else:
        for tok in doc_tokens:
            embedding_vector = embeddings_index.get(tok)
            if embedding_vector is not None:
                embeddings.append(embedding_vector)
            else:
                embeddings.append(np.random.rand(100))
        # mean the vectors of individual words to get the vector of the document
        return np.mean(embeddings, axis=0)

# Getting Word2Vec Vectors for Testing Corpus and Queries
testing_corpus['vector']=testing_corpus['lemmatized'].apply(lambda x :get_embedding_g2v(x.split()))
testing_queries['vector']=testing_queries['cleaned'].apply(lambda x :get_embedding_g2v(x.split()))

In [ ]:
a = np.zeros((testing_corpus['vector'].shape[0],testing_corpus['vector'][0].shape[0]))
for i in range(len(testing_corpus['vector'])):
    a[i,:] = testing_corpus['vector'][i]

b = np.zeros((testing_queries['vector'].shape[0],testing_queries['vector'][0].shape[0]))
for i in range(len(testing_queries['vector'])):
    b[i,:] = testing_queries['vector'][i]

from sklearn.decomposition import PCA
from sklearn.decomposition import FactorAnalysis

pca1 = FactorAnalysis(n_components=90)
aa = pca1.fit_transform(a)
#pca1 = PCA(n_components = 300)
bb = pca1.transform(b)

pca = PCA(n_components=90)
testing_corpus1 = pca.fit_transform(aa)
#pca1 = PCA(n_components = 300)
testing_queries1 = pca.transform(bb)

/usr/local/lib/python3.7/dist-packages/sklearn/decomposition/_factor_analysis.py:292: ConvergenceWarning: FactorAnalysis did not converge. You might want to increase the number of iterations.
  ConvergenceWarning,

In [ ]:
for i in range(len(testing_corpus['vector'])):
     testing_corpus['vector'][i]=testing_corpus1[i]
for i in range(len(testing_queries['vector'])):
     testing_queries['vector'][i]=testing_queries1[i]

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.

In [ ]:
from sklearn.metrics.pairwise import cosine_similarity
from sklearn.metrics.pairwise import euclidean_distances
# Function for calculating average precision for a query
def average_precision(qid,qvector):

  # Getting the ground truth and document vectors
  qresult=testing_result.loc[testing_result['qid']==qid,['docid','rel']]
  qcorpus=testing_corpus.loc[testing_corpus['docid'].isin(qresult['docid']),['docid','vector']]
  qresult=pd.merge(qresult,qcorpus,on='docid')

  # Ranking documents for the query
  qresult['similarity']=qresult['vector'].apply(lambda x: cosine_similarity(np.array(qvector).reshape(1, -1),np.array(x).reshape(1, -1)).item())
  qresult['euclidean_distances']=qresult['vector'].apply(lambda x: euclidean_distances(np.array(qvector).reshape(1, -1),np.array(x).reshape(1, -1)).item())

  qresult.sort_values(by='similarity',ascending=False,inplace=True)

  # Taking Top 10 documents for the evaluation
  ranking=qresult.head(10)['rel'].values

  # Calculating precision
  precision=[]
  for i in range(1,11):
    if ranking[i-1]:
      precision.append(np.sum(ranking[:i])/i)

  # If no relevant document in list then return 0
  if precision==[]:
    return 0

  return np.mean(precision)

# Calculating average precision for all queries in the test set
testing_queries['AP']=testing_queries.apply(lambda x: average_precision(x['qid'],x['vector']),axis=1)

# Finding Mean Average Precision
print('Mean Average Precision=>',testing_queries['AP'].mean())

Mean Average Precision=> 0.8015339925044092

In [ ]:
def ranking_ir(query):

  # pre-process Query
  query=query.lower()
  query=expand_contractions(query)
  query=clean_text(query)
  query=re.sub(' +',' ',query)

  # generating vector
  d=get_embedding_g2v(query.split()).reshape(1, -1)
  d=pca1.transform(d)
  vector = pca.transform(d)
  # ranking documents
  documents=testing_corpus[['docid','title','body']].copy()
  documents['similarity']=testing_corpus['vector'].apply(lambda x: cosine_similarity(np.array(vector).reshape(1, -1),np.array(x).reshape(1, -1)).item())
  documents['euclidean_distances']=testing_corpus['vector'].apply(lambda x: euclidean_distances(np.array(vector).reshape(1, -1),np.array(x).reshape(1, -1)).item())

  documents.sort_values(by='similarity',ascending=False,inplace=True)

  return documents.head(10).reset_index(drop=True)

In [ ]:
ranking_ir('michael jordan')

      docid  ... euclidean_distances
0  D2962495  ...           25.088529
1  D3140874  ...           27.512688
2  D2785629  ...           29.738856
3  D1142830  ...           29.907981
4  D2218024  ...           28.669794
5  D1656700  ...           28.721974
6  D1900195  ...           30.723608
7   D207390  ...           32.653092
8   D848759  ...           31.618365
9  D1656701  ...           32.673435

[10 rows x 5 columns]

In [ ]:
ranking_ir('nba championship michael jordan')

      docid  ... euclidean_distances
0   D842657  ...           17.021278
1  D2796474  ...           16.679161
2  D1415956  ...           22.090439
3  D2986655  ...           22.105155
4   D207390  ...           22.589373
5  D1520298  ...           22.080574
6  D3140874  ...           19.841171
7  D2962495  ...           19.769224
8  D2785629  ...           19.736417
9   D848759  ...           21.619410

[10 rows x 5 columns]

In [ ]:
# Function returning vector reperesentation of a document
def get_embedding_g2v(doc_tokens):
    embeddings = []
    if len(doc_tokens)<1:
        return np.zeros(100)
    else:
        for tok in doc_tokens:
            embedding_vector = embeddings_index.get(tok)
            if embedding_vector is not None:
                embeddings.append(embedding_vector)
            else:
                embeddings.append(np.random.rand(100))
        # mean the vectors of individual words to get the vector of the document
        return np.mean(embeddings, axis=0)

# Getting Word2Vec Vectors for Testing Corpus and Queries
testing_corpus['vector']=testing_corpus['lemmatized'].apply(lambda x :get_embedding_g2v(x.split()))
testing_queries['vector']=testing_queries['cleaned'].apply(lambda x :get_embedding_g2v(x.split()))

In [ ]:
a = np.zeros((testing_corpus['vector'].shape[0],testing_corpus['vector'][0].shape[0]))
for i in range(len(testing_corpus['vector'])):
    a[i,:] = testing_corpus['vector'][i]

b = np.zeros((testing_queries['vector'].shape[0],testing_queries['vector'][0].shape[0]))
for i in range(len(testing_queries['vector'])):
    b[i,:] = testing_queries['vector'][i]

from sklearn.decomposition import PCA
from sklearn.decomposition import FactorAnalysis

pca1 = FactorAnalysis(n_components=90)
aa = pca1.fit_transform(a)
#pca1 = PCA(n_components = 300)
bb = pca1.transform(b)

pca = FactorAnalysis(n_components=90)
testing_corpus1 = pca.fit_transform(aa)
#pca1 = PCA(n_components = 300)
testing_queries1 = pca.transform(bb)

/usr/local/lib/python3.7/dist-packages/sklearn/decomposition/_factor_analysis.py:292: ConvergenceWarning: FactorAnalysis did not converge. You might want to increase the number of iterations.
  ConvergenceWarning,

In [ ]:
for i in range(len(testing_corpus['vector'])):
     testing_corpus['vector'][i]=testing_corpus1[i]
for i in range(len(testing_queries['vector'])):
     testing_queries['vector'][i]=testing_queries1[i]

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.

In [ ]:
from sklearn.metrics.pairwise import cosine_similarity
from sklearn.metrics.pairwise import euclidean_distances
# Function for calculating average precision for a query
def average_precision(qid,qvector):

  # Getting the ground truth and document vectors
  qresult=testing_result.loc[testing_result['qid']==qid,['docid','rel']]
  qcorpus=testing_corpus.loc[testing_corpus['docid'].isin(qresult['docid']),['docid','vector']]
  qresult=pd.merge(qresult,qcorpus,on='docid')

  # Ranking documents for the query
  qresult['similarity']=qresult['vector'].apply(lambda x: cosine_similarity(np.array(qvector).reshape(1, -1),np.array(x).reshape(1, -1)).item())
  qresult['euclidean_distances']=qresult['vector'].apply(lambda x: euclidean_distances(np.array(qvector).reshape(1, -1),np.array(x).reshape(1, -1)).item())

  qresult.sort_values(by='similarity',ascending=False,inplace=True)

  # Taking Top 10 documents for the evaluation
  ranking=qresult.head(10)['rel'].values

  # Calculating precision
  precision=[]
  for i in range(1,11):
    if ranking[i-1]:
      precision.append(np.sum(ranking[:i])/i)

  # If no relevant document in list then return 0
  if precision==[]:
    return 0

  return np.mean(precision)

# Calculating average precision for all queries in the test set
testing_queries['AP']=testing_queries.apply(lambda x: average_precision(x['qid'],x['vector']),axis=1)

# Finding Mean Average Precision
print('Mean Average Precision=>',testing_queries['AP'].mean())

Mean Average Precision=> 0.7024696447467876

In [ ]:
def ranking_ir(query):

  # pre-process Query
  query=query.lower()
  query=expand_contractions(query)
  query=clean_text(query)
  query=re.sub(' +',' ',query)

  # generating vector
  d=get_embedding_g2v(query.split()).reshape(1, -1)
  d=pca1.transform(d)
  vector = pca.transform(d)
  # ranking documents
  documents=testing_corpus[['docid','title','body']].copy()
  documents['similarity']=testing_corpus['vector'].apply(lambda x: cosine_similarity(np.array(vector).reshape(1, -1),np.array(x).reshape(1, -1)).item())
  documents['euclidean_distances']=testing_corpus['vector'].apply(lambda x: euclidean_distances(np.array(vector).reshape(1, -1),np.array(x).reshape(1, -1)).item())

  documents.sort_values(by='similarity',ascending=False,inplace=True)

  return documents.head(10).reset_index(drop=True)

In [ ]:
ranking_ir('michael jordan')

      docid  ... euclidean_distances
0  D2962495  ...            0.143985
1  D3140874  ...            0.150315
2  D1900195  ...            0.154527
3  D2218024  ...            0.129000
4  D1142830  ...            0.149141
5   D207390  ...            0.175939
6  D1656700  ...            0.130860
7  D1115633  ...            0.156566
8  D2986655  ...            0.176951
9  D1415956  ...            0.177343

[10 rows x 5 columns]

In [ ]:
ranking_ir('nba championship michael jordan')

      docid  ... euclidean_distances
0   D207390  ...            0.117242
1  D1273320  ...            0.104639
2   D240281  ...            0.104596
3  D2796474  ...            0.101255
4  D2962495  ...            0.105822
5  D1415956  ...            0.121089
6  D2986655  ...            0.120998
7  D3140874  ...            0.106338
8   D148773  ...            0.127381
9  D1775061  ...            0.120087

[10 rows x 5 columns]

In [ ]:
# Function returning vector reperesentation of a document
def get_embedding_g2v(doc_tokens):
    embeddings = []
    if len(doc_tokens)<1:
        return np.zeros(100)
    else:
        for tok in doc_tokens:
            embedding_vector = embeddings_index.get(tok)
            if embedding_vector is not None:
                embeddings.append(embedding_vector)
            else:
                embeddings.append(np.random.rand(100))
        # mean the vectors of individual words to get the vector of the document
        return np.mean(embeddings, axis=0)

# Getting Word2Vec Vectors for Testing Corpus and Queries
testing_corpus['vector']=testing_corpus['lemmatized'].apply(lambda x :get_embedding_g2v(x.split()))
testing_queries['vector']=testing_queries['cleaned'].apply(lambda x :get_embedding_g2v(x.split()))

In [ ]:
a = np.zeros((testing_corpus['vector'].shape[0],testing_corpus['vector'][0].shape[0]))
for i in range(len(testing_corpus['vector'])):
    a[i,:] = testing_corpus['vector'][i]

b = np.zeros((testing_queries['vector'].shape[0],testing_queries['vector'][0].shape[0]))
for i in range(len(testing_queries['vector'])):
    b[i,:] = testing_queries['vector'][i]

from sklearn.decomposition import PCA
from sklearn.decomposition import FactorAnalysis

pca = FactorAnalysis(n_components=90)
testing_corpus1 = pca.fit_transform(a)
#pca1 = PCA(n_components = 300)
testing_queries1 = pca.transform(b)

/usr/local/lib/python3.7/dist-packages/sklearn/decomposition/_factor_analysis.py:292: ConvergenceWarning: FactorAnalysis did not converge. You might want to increase the number of iterations.
  ConvergenceWarning,

In [ ]:
for i in range(len(testing_corpus['vector'])):
     testing_corpus['vector'][i]=testing_corpus1[i]
for i in range(len(testing_queries['vector'])):
     testing_queries['vector'][i]=testing_queries1[i]

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.

In [ ]:
from sklearn.metrics.pairwise import cosine_similarity
from sklearn.metrics.pairwise import euclidean_distances
# Function for calculating average precision for a query
def average_precision(qid,qvector):

  # Getting the ground truth and document vectors
  qresult=testing_result.loc[testing_result['qid']==qid,['docid','rel']]
  qcorpus=testing_corpus.loc[testing_corpus['docid'].isin(qresult['docid']),['docid','vector']]
  qresult=pd.merge(qresult,qcorpus,on='docid')

  # Ranking documents for the query
  qresult['similarity']=qresult['vector'].apply(lambda x: cosine_similarity(np.array(qvector).reshape(1, -1),np.array(x).reshape(1, -1)).item())
  qresult['euclidean_distances']=qresult['vector'].apply(lambda x: euclidean_distances(np.array(qvector).reshape(1, -1),np.array(x).reshape(1, -1)).item())

  qresult.sort_values(by='similarity',ascending=False,inplace=True)

  # Taking Top 10 documents for the evaluation
  ranking=qresult.head(10)['rel'].values

  # Calculating precision
  precision=[]
  for i in range(1,11):
    if ranking[i-1]:
      precision.append(np.sum(ranking[:i])/i)

  # If no relevant document in list then return 0
  if precision==[]:
    return 0

  return np.mean(precision)

# Calculating average precision for all queries in the test set
testing_queries['AP']=testing_queries.apply(lambda x: average_precision(x['qid'],x['vector']),axis=1)

# Finding Mean Average Precision
print('Mean Average Precision=>',testing_queries['AP'].mean())

Mean Average Precision=> 0.8031676461325267

In [ ]:
def ranking_ir(query):

  # pre-process Query
  query=query.lower()
  query=expand_contractions(query)
  query=clean_text(query)
  query=re.sub(' +',' ',query)

  # generating vector
  d=get_embedding_g2v(query.split()).reshape(1, -1)
  #d=pca1.transform(d)
  vector = pca.transform(d)
  # ranking documents
  documents=testing_corpus[['docid','title','body']].copy()
  documents['similarity']=testing_corpus['vector'].apply(lambda x: cosine_similarity(np.array(vector).reshape(1, -1),np.array(x).reshape(1, -1)).item())
  documents['euclidean_distances']=testing_corpus['vector'].apply(lambda x: euclidean_distances(np.array(vector).reshape(1, -1),np.array(x).reshape(1, -1)).item())

  documents.sort_values(by='similarity',ascending=False,inplace=True)

  return documents.head(10).reset_index(drop=True)

In [ ]:
bm=ranking_ir('michael jordan')
bm

      docid  ... euclidean_distances
0  D2962495  ...           25.083862
1  D3140874  ...           27.529146
2  D2785629  ...           29.764795
3  D1142830  ...           29.939376
4  D2218024  ...           28.571600
5  D1656700  ...           28.808668
6  D1900195  ...           30.654289
7   D207390  ...           32.658739
8   D848759  ...           31.650293
9  D1656701  ...           32.722287

[10 rows x 5 columns]

In [ ]:
ranking_ir('nba championship michael jordan')

      docid  ... euclidean_distances
0   D842657  ...           16.995018
1  D2796474  ...           16.633283
2  D2986655  ...           22.089369
3  D1415956  ...           22.097051
4   D207390  ...           22.588944
5  D1520298  ...           22.071773
6  D3140874  ...           19.830376
7  D2962495  ...           19.754020
8  D2785629  ...           19.747414
9   D848759  ...           21.627357

[10 rows x 5 columns]

In [ ]:
print('mmm')

mmm